@(athlete:Option[domain.Athlete],apiKey:String, messageBox:Option[String] = None)(implicit request: play.api.mvc.Request[Any])

@main("Strava Segment Maps", athlete, messageBox) {
<div id="map" style="width:100%;height:90%"></div>
    @athlete match {
        case Some(a) => {
        <script type='text/javascript' src="@routes.MapController.buildmap(a._id)"></script>
        <script type='text/javascript'
                src="https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=visualization,places&callback=initMap"></script>

        }
        case None => {
        <script type='text/javascript'
                src="https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=visualization&callback=emptyMap"></script>
        }
    }
}