@(title:String, athlete:Option[domain.Athlete], messageBox:Option[String] = None)(content: Html)(implicit request: play.api.mvc.Request[Any])
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta charset="utf-8">
    </head>
    <body>
        <script src="@routes.Assets.versioned("javascripts/clipboard.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/markerclusterer.js")"></script>

        @if(messageBox.isDefined){
        <div class="alert info" id="infoBanner">
            <span class="closebtn" onclick="closeBanner()">&times;</span>
            @Html(messageBox.get)
        </div>

        }

    <div id="mySidenav" class="sidenav">
        <h2>Strava Segment Map</h2><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @athlete match {
        case Some(a) => {
        <a href="@routes.HomeController.updateDatabase()">Update Database</a>

        }
        case None => {
        <a href="@routes.AuthorizationController.authorize() ">Login with Strava</a>
        }
        }
        <a href="@routes.HomeController.index()">Refresh Map</a>
        <a href="@routes.HomeController.about()">About</a>

        @athlete match {
        case Some(a) => {
        <div class="athleteInfoBox">

            <span class="athleteInfoTitle">Athlete</span>
            <span class="athleteInfo"><a href="https://www.strava.com/athletes/@a._id" target="_blank">@a.name</a></span>
            <span class="athleteInfoTitle">City:</span>
            <span id="cityValue" class="athleteInfo">@a.city</span>
            <span class="athleteInfoTitle">Last Map Update</span>
            <span class="athleteInfo">@a.lastUpdate</span>
            <span class="athleteInfoTitle">Total Segments</span>
            <span class="athleteInfo" id="totalSegments">0</span>
            <span class="athleteInfoTitle">
                <a href="#" class="btn" data-clipboard-text="@routes.HomeController.view(Some(a._id.toString)).absoluteURL">
                    Get share Link
                </a>
            </span>
        </div>
        }
        case None => {<span>Not Loged User</span>}
        }
    </div>

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span><span style="font-size:30px"><a class="title" href="@routes.HomeController.index()">Strava Segment Map</a></span>
    <a style="float:right" href="http://www.strava.com" target="_blank"><img style="height:30" src="@routes.Assets.versioned("images/api_logo_pwrdBy_strava_horiz_light.png")"/></a>

    @content

    <div class="alert info" id="cookie1">
        <span class="closebtn" onclick="controlcookies()">&times;</span>
        You know... this web use cookies, read why in <a href="@routes.HomeController.policy()">this page</a>
        If you use this web (or close this windows), you accept my cookies policy, if you don't, please leave this site.
    </div>

    <script type="text/javascript">
        if (localStorage.controlcookie>0){
        console.log("not show cookies policy")
        document.getElementById('cookie1').style.bottom = '-50px';
        cookie1.style.display='none'
        }
    </script>

    </body>
</html>



