@(athlete:Option[domain.Athlete], otherAthlete:Option[domain.Athlete], apiKey:String, messageBox:Option[String] = None)(implicit request: play.api.mvc.Request[Any])

@main("Strava Segment Maps", athlete, messageBox) {

    @otherAthlete match {
        case Some(a) => {
        <div class="alert info">
            <a href="https://www.strava.com/athletes/@a._id" target="_blank">@a.name</a> Segment Map
            <span style="visibility:hidden" id="cityValueOtherAthlete">@a.city</span>
        </div>
        <div id="map" style="width:100%;height:80%"></div>

        <script type='text/javascript' src="@routes.MapController.buildmap(a._id)"></script>
        <script type='text/javascript'
                src="https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=visualization,places&callback=initMap"></script>

        }
        case None => {
        <div id="map" style="width:100%;height:90%"></div>
        <script type='text/javascript'
                src="https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=visualization&callback=emptyMap"></script>
        }
    }
}